<div class="container">
  <div class="page-header">
    <h1>Little Bird</h1>
  </div>
</div>
<%= form_tag '/pages/index', method: :get %>
  <%= label_tag :text, 'Tweet' %>
  <%= text_field_tag :text %>
  <%= submit_tag %>
