@import "foundation-icons";
@import "foundation_and_overrides";

.home body {
  background-image: asset-url("/cityscape.jpg");
  background-size: 100%;
}

a {
  color: white;
  font-size: 150%;
}

.icon-bar > * img + label {
  margin-top: -35px;
  float: left;
}

.icon-bar > * img {
  margin-left: 50px;
}

#icon {
  height: 50px;
}

.item .right {
  margin-bottom: 10px;
}
.icon-bar {
  height: 50px;
}

.sidebar li {
  padding-top: 30px;
  border-bottom-style: solid;
  border-color: white;
  border-width: 1px;
  text-color: white;
}

.sidebar a {
  color: white;
  font-size: 100%;
}


ul {
  list-style: none;
}

nav {
  background-color: black;
  width: 115px;
  margin-top: -6px;
  margin-bottom: -5000px; /* any large number will do */
  padding-bottom: 5000px;
}

.articles p {
  margin-left: 150px;
}

.articles a {
  color: black;
}
