@import 'masonry/basic';
@import 'masonry/centered';
@import 'masonry/fluid';
@import 'masonry/gutters';
@import 'masonry/infinitescroll';
@import 'masonry/right-to-left';
@import 'masonry/transitions';

.home body {
  background-image: asset-url("/cityscape.jpg");
  background-size: 100%;
}

a {
  color: white;
  font-size: 150%;
}

.icon-bar > * img + label {
  margin-top: -35px;
  float: left;
}

.icon-bar > * img {
  margin-left: 50px;
}

#icon {
  height: 50px;
}

.item .right {
  margin-bottom: 10px;
}
.icon-bar {
  height: 50px;
}

.sidebar li {
  padding-top: 30px;
  border-bottom-style: solid;
  border-color: white;
  border-width: 1px;
  text-color: white;
}

.sidebar a {
  color: white;
  font-size: 100%;
}

.sidebar {
  position: relative;
}

ul {
  list-style: none;
}

nav {
  background-color: black;
  width: 115px;
  margin-top: -6px;
  margin-bottom: -5000px; /* any large number will do */
  padding-bottom: 5000px;
}


.articles a {
  color: black;
}

.articles {
  position: absolute;
  margin-top: -563px;
}

.container .articles {
  margin-left: 125px;
}

.box {
  background-color: white;
  margin: 5px;
	width:412px;
  height:412px;
}

.image-size {
 height: 260px;
 width: 126px;
}
